.Express>h2{
    margin-left: 2rem;
    font-size: 21px;
    margin-bottom: 2rem;
    font-family: 'BIZ UDPMincho', serif 
}
.recom-container{
    margin-top: 2rem;
    width: 95%;
    margin-left: 1rem;
    font-family: 'PT Serif', serif;
}
