.back-arrow{
    margin-top: 10px;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: black  !important;
}

.banner-image{
    border-bottom: 1px solid gray;
}

.banner-image>img{
    height: 250px;
    width: 100%;
    z-index: 1;
    object-fit: cover;
}
.profileImage{
    display: flex;
    align-items: center;
    z-index: 2;
    margin-top: -35px;
    margin-left: 20px;
}
.profileImage>img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid white;
}

.profileDetails{
    display: flex;
    font-family: 'BIZ UDPMincho', serif
}
.profile-userDetails{
    margin-left: 1rem;
}
.profile-userName{
    font-size: 24px;
}
.profile-userId{
    font-size: 12px;
}
.profile-userFollow{
    background-color: rgb(17, 125, 248);
    padding-left: 1rem;
    padding-top: 0.8rem;
    padding-right: 1rem;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 20%;
    font-family: 'PT Serif', serif
}
.userFollow:hover{
    background-color: rgb(35, 125, 228);
}
.aboutUser{
    margin-left: 18px;
    margin-top: 23px;
    margin-right: 90px;
    margin-bottom: 30px;
    font-family: 'PT Serif', serif
}
.bottomPart{
    width: 100%;
    font-family: 'PT Serif', serif
}
.profile-navs{
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    border-bottom: 1px solid rgb(231, 226, 226);
    padding-bottom: 10px;
}
.profile-nav-itmes{
    cursor: pointer;
}
.active{
    color: black;
    font-weight: 900;
    font-size: 18px;
}
.tweet-container{
    margin-top: 40px;
    font-family: 'PT Serif', serif
}
.profile-connection{
    display: flex;
    margin-left: 18px;
    margin-bottom: 25px;
}
.total-followers{
    margin-right: 26px;
    cursor: pointer;
}
.total-following{
    cursor: pointer;
}
@media  screen and (max-width: 650px) {

    .banner-image>img{
        height: 180px;
        object-fit: cover;
    }
    .banner-image{
        width: 95%;
        margin-left: 0.5rem;
    }
    .profileImage{
        margin-top: -60px;
    }
    .profile-userDetails{
        margin-left: 1rem;
        max-width: 60vw;
        overflow-wrap: break-word;
    }
    .profile-userFollow{
        padding-top: 0.5rem;
        margin-left: 0.5rem;
    }
    .profile-userFollow{
        padding-left: 1rem;
        height: 2rem;
    }


}